<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ders_76_92_Personel_Kayıt_Projesi.Properties.Settings.Personel_Veri_TabaniConnectionString"
            connectionString="Data Source=DESKTOP-EABSTBN;Initial Catalog=Personel_Veri_Tabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ders_76_92_Personel_Kayıt_Projesi.Properties.Settings.Personel_Veri_TabanıConnectionString"
            connectionString="Data Source=DESKTOP-EABSTBN;Initial Catalog=Personel_Veri_Tabanı;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>